<div class="p-6">
    <h2 class="text-2xl font-bold mb-4">Users List</h2>
  
    <div *ngIf="users && users.length > 0; else noUsers">
      <ul class="space-y-2">
        <li *ngFor="let user of users" class="bg-gray-100 p-4 rounded shadow"
        (click)="viewUserDetails(user)">
          <p><strong>Name:</strong> {{ user.firstName + " " +user.lastName }}</p>
          <p><strong>Email:</strong> {{ user.email }}</p>
        </li>
      </ul>
    </div>
  
    <ng-template #noUsers>
      <p>No users found.</p>
    </ng-template>
  </div>
  