  .background-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -10;
    width: 100%;
    height: 100%;
    background-color: #D0D1D2; /* This is the background you want it to fade into */
  }
  
  .fade-bg {
    width: 100%;
    height: 100%;
    background-image: url('/assets/background.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  
    -webkit-mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 70%, rgba(0, 0, 0, 0));
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 70%, rgba(0, 0, 0, 0));
    mask-size: 100% 100%;
    mask-repeat: no-repeat;
  }
  
  